credentials.json
token.json
xtokens.json
audio/
video/
ContentData/node_modules/
ContentData/entries.db
venv/
myenv/
__pycache__/
xcredentials.json
riddleformat.txt
output_file.mp3
temp_text_image.png
screenshot.png
.screenshot*